* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.heading-container {
  text-align: center;
  padding: 1.5rem;
}

.heading-container h1 {
  font-size: 3rem;
  background: linear-gradient(to right, rgb(47, 52, 183), rgb(229, 81, 51));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading-container h2 {
  opacity: 0.7;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.websites-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.websites-container a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
  width: 300px;
  height: 200px;
  text-decoration: none;
  border-radius: 15px;
  color: white;
  transition: all 0.3s ease-in-out;
}

.websites-container a:hover {
  transform: scale(1.1);
}

.websites-container a:first-child {
  background: linear-gradient(to right, rgb(47, 58, 183), rgb(11, 148, 148));
}

.websites-container a:nth-child(2) {
  background: linear-gradient(to right, rgb(148, 87, 8), rgb(167, 39, 13));
}

.websites-container a:last-child {
  background: linear-gradient(to right, rgb(53, 143, 23), rgb(29, 79, 2));
}
